{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

{% if jobs %}
    <table class="table">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Status</th>
                <th>Device</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.name }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.device_brand }} {{ job.device_type }}</td>
                <td>{{ job.creation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
